---
import Layout from "../layouts/Layout.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Experience from "../components/Experience.astro"
import Footer from "../components/Footer.astro"
---

<Layout
  title="Santiago portfolio - Web developer and Frontend Developer"
  description="Specialized in creating amazing websites"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="https://media.licdn.com/dms/image/D4E35AQE57ziq_drdOQ/profile-framedphoto-shrink_200_200/0/1685980914861?e=1705892400&v=beta&t=56LRoDi4nY50gVRXpOcpBtVGjlOeB-9mz3I6j3CtC2E"
        alt="portfolio photo"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I'm Santiago Vega <a
          href="https://www.linkedin.com/in/david-santiago-vega-cort%C3%A9s-9b083697/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>+5 years of experience.</span><span
          class="text-blue-800 dark:text-yellow-200"
        >
		Web developer and Frontend Developer</span
        >
         .<span class="text-yellow-800 dark:text-red-200">
          From Bogotá, Colombia</span
        >.
        <span class="text-red-800 dark:text-sky-200"
          >Specialized in creating amazing websites.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">

      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
         Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
         Projects
      </h2>
    </SectionContainer>

    <SectionContainer id="about">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
         About me
      </h2>
    </SectionContainer>

    <SectionContainer id="contact">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
         Contact
      </h2>
      <Footer/>
    </SectionContainer>
  </main>
</Layout>