<p class="text-white mb-4 text-base text-pretty font-normal">
  Hello, I'm Santiago, a dedicated system engineer with a solid knoweldge in
  various technologies including, Javascript, Angular, Typescript and libraries
  as React. With over 5 years of experience I have had the opportunity to
  participate in 3 large companies implementing different solutions for clients.
</p>

<p class="text-white mb-4 text-base text-pretty font-normal">
  Looking to obtain a position in a prestigious company to expand my knowledge
  and contribute to transformation and innovation projects in the world of
  software engineering.
</p>
