---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Present",
    title: "Frontend Developer",
    description: "Responsible for creating modules, components and functionality for the Banco de Bogotá application",
  },
  {
    date: "May 2020 - Jan 2021",
    title: "Midlevel React developer",
    description: "In charge of creating modules and components for the new El Tiempo advertising platform.",
    link: "https://www.eltiempoads.com/",
    projectTitle: 'El Tiempo Ads'
  },
  {
    date: "Nov 2018 - Apr 2020",
    title: "FrontEnd Angular, React & React Native Developer",
    description: "Responsible for creating components, improving functionality and performance of DigitalWare's 'Ophelia' health application.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
