---
import GmailLogo from "../components/icons/Gmail.astro";
import LinkedinLogo from "../components/icons/LinkedIn.astro";
import PhoneLogo from "../components/icons/Phone.astro";
---

<h1 class="ext-2xl font-semibold my-6 flex gap-x-3 items-center">Drop me a message and feel free to contact me any time.</h1>

<div class="">
  <p class="flex flex-row"><GmailLogo class="size-6 md:size-6 mr-2 mb-2" /> davidvega1414@gmail.com</p>
  <p class="flex flex-row"><LinkedinLogo class="size-6 md:size-6 mr-2 mb-2" /> <a
    href="https://www.linkedin.com/in/david-santiago-vega-cort%C3%A9s-9b083697/"
    target="_blank"
    rel="noopener"
    class="flex justify-center"
  >
  LinkedIn Profile
  </a></p>
  <p class="flex flex-row"><PhoneLogo class="size-6 md:size-6 mr-2 mb-2" /> +57 3176808618</p>
</div>
